{
    "MAILGUN_BASE_URL": "https://api.mailgun.net",
    "MAILGUN_PRIVATE_API_KEY": "75c5a341c790060460fd42017168f02c-0920befc-f02febc2",
    "MAILGUN_DOMAIN": "sandbox6f32d4b6asd14k5d9cb17d67f85h42e9.mailgun.org",
    "MAILGUN_WEBHOOK_SIGNING_KEY": "233418c3ceb284783ec40bf39cde2ed5",
    "MAILGUN_FROM_EMAIL": "mailgun@example.com",
    "MAILGUN_TO_EMAIL": "info@example.com",
}